@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: "Open Sans", sans-serif;
}
h1,
h2 {
	margin: 1% 2%;
}
p {
	margin: 2%;
}
a {
	color: #000;
	text-decoration: none;
	font-size: 18px;
}
.name {
	font-weight: bold;
	font-size: 25px;
	margin: 1% 2%;
}
